<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Brokers - NL operations</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        /* Add custom styles to logo image */
        #logo {
            height: 50px;
            margin-right: 10px;
        }
        /* Red color */
        .red {
            color: rgba(102, 43, 120, 0.907);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <img id="logo" src="static/logo - chatbot.png" alt="Logo" style="width: 350px; height: 200px;">
            <h1 class="text-center mb-4 red">StockBot Pro - Operations with AI</h1>
        </div>
        <form class="text-center" action="/results" method="get">
            <div class="form-group">
                <label for="query">Which BUY or SALE operation do you want to execute?</label>
                <input type="text" class="form-control" id="query" name="query">
            </div>
            <button type="submit" class="btn btn-primary">Run</button>
        </form>
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
